#news-block > h2 {
  color: #a39c9c;
}
#news-block .news-item > ul {
  padding: 0;
  margin: 0;
}
#news-block .news-item > ul > li {
  list-style-type: none;
}
#news-block .news-item > ul > li .new-item-head {
  position: relative;
}
#news-block .news-item > ul > li .new-item-head > h3 {
  margin-top: 0;
}
#news-block .news-item > ul > li .new-item-head time {
  position: absolute;
  top: 5px;
  right: 0;
  color: #a59d9d;
}
#news-block .news-item > ul li.item-content > p > img {
  margin: 0 8px 8px 0;
  max-width: 80px;
  float: left;
}
#news-block .news-item > ul li.item-content > p > span {
  color: #383737;
}
#news-block .news-item .pan {
  float: right;
}
#news-block .news-item .pan > a {
  display: block;
}
#news-block .not-found {
  padding-top: 68px;
  text-align: center;
  color: #b95353;
}
